<header>
    <div class="header-left">
        <a href="/index">
            <div class="logo">
                <h1>My Blog</h1>
            </div>
        </a>
        <div class="btn-add"><a href="/add_post">Crear Publicación</a></div>
    </div>
    <div class="session">
        <h2>Hola, Usuario.</h2>
        <img src="/public/perfil.png" alt="">
    </div>
</header>